<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scool.css">
    <title>Cree établissement</title>
</head>
<body>
    <header>
        <h2>Connexion à établissement</h2>
    </header>


    <form action="/connexion" method="post" class="form">
        <input type="text" name="nom" placeholder="Nom de l'école" required>
        <input type="text" name="user" placeholder="Nom utilisateur" required>
        <input type="password" name="motpass" id="d" placeholder="mot de pass" required>
        
        <input type="submit" value="Connexion">
        <a href="/scoole">inscription</a>

    </form>
    
</body>
</html>