<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page index</title>
</head>
<body>
    <header>
        <button>Menu</button> </ul>
        <% .forEach(function(noms) { %>
            <h2> Ecole-<%= noms.nom %> %></h2>
        <% }); %>
    </ul>
    </header>
    <div class="bloc">
        <a href="classe">inscription</a>
        <a href="payement.html">payement</a>
    </div>
    
</body>
</html>