<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scool.css">
    <title>Cree établissement</title>
</head>
<body>
    <header>
        <h2>Créer un établissement ou</h2> 
    </header>


    <form action="/etablissement" method="post" class="form">
        <input type="text" name="nom" placeholder="Nom de l'école" required>
        <input type="text" name="user" placeholder="Nom utilisateur" required>
        <input type="password" name="motpass" id="d" placeholder="donne un mot de pass" required>
        <input type="text" name="descrip" id="f" placeholder="donne une description">
        <input type="submit" value="Créer">
        <a href="/connexion">connexion</a>


    </form>
    
</body>
</html>